# dependencies
node_modules

# Development logs
logs/

# Miscellaneous
*.log
*.env

# dotenv environment variables file
!.env.example

# Mac files
.DS_Store

# Windows files
Thumbs.db

# Production build
build/
dist/

# IDE and editor files
.idea/
.vscode/

# Test coverage reports
coverage/